@use '../bootstrap.scss';
$btn-primary-color: bootstrap.$color-white;
$btn-primary-bg: bootstrap.$color-primary;
$btn-primary-border: bootstrap.$color-primary;

$btn-font-size: 16px;
$btn-min-width: 86px;
$border-radius-normal: 4px !default;
$btn-padding: 10px 20px;
$btn-line-height: 22px;

.klk-button {
    min-width: $btn-min-width;
    display: inline-block;
    font-size: $btn-font-size;
    font-stretch: normal;
    font-style: normal;
    border-radius: $border-radius-normal;
    padding: $btn-padding;
    margin: 0;
    text-align: center;
    line-height: $btn-line-height;
    outline: none;
    user-select: none;
    appearance: none;
    text-transform: none;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

// primary
.klk-button-primary {
    color: $btn-primary-color;
    background-color: $btn-primary-bg;
    border: 1px solid $btn-primary-border;
}