@use './normalize.scss';

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    font-size: 14px;
    font-weight: normal;
    width: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-color: #fff;
}

pre {
    white-space: pre-wrap;
    word-break: break-all;
    margin: 0;
}

a {
    text-decoration: none;
    // color: $color-primary;
    user-select: none;
    -webkit-user-select: none;
}