  @media (max-width: 719px) {
      .navbar {
          .mobile-menu-button {
              cursor: pointer;
              display: block;
          }
          .nav-links {
              display: none;
          }
      }
  }